<% provide(:metacontent, "Trade India Leads is online B2B marketplace bringing buyers and sellers at one platform. YWe provide best trade and business leads.") %>

<% provide(:title, 'B2B Category list for sales, buy & trade leads') %>

<div class="callout">
<h1 class="headline" style="margin-top: 0px">About Us</h1>

<div class="container">
	<p><a href="http://www.tardeindialeads.com" target="_blank">TradeIndia Leads</a> is online marketplace for B2B sales, marketing and trade leads. We offer our network for our users to post and view business leads in 18 different categories.	</p>
<p>Our mission is to offer our users a network where they get best business leads. Below are highlights of our commitment for our users</p>
<h4 style="text-align:center;"><span style="color:#FFF; font: bold;">Best sales leads for buyers | Providing suppliers platform to post business leads | 18 Business Leads Categories</span></h4>
<h4 style="margin-top: 40px;">How Trade India Leads is helpful for Buyers</h4>
<p>&#8211; Connect with Sellers and view there B2B sales leads for free.<br />
&#8211; We offer leads in 18 business categories that covers all modern and traditional business spectrum.<br />
&#8211; A global online B2B marketplace that sellers use to offer there products at competitive price.</p>
<h4 style="margin-top: 40px;">How Trade India Leads is helpful for Suppliers</h4>
<p>&#8211; Best b2b buying leads available from buyers across the globe.<br />
&#8211; Post your sales leads for free and reach to maximum buyers.<br />
&#8211; Targeted sales and marketing opportunity for your offerings.</p>

<p style="padding-top: 40px;">Trade India Leads has just started and growing rapidly. Signup and be a part of our online B2B marketplace and help us grow your business with zero cost. We assure 100% free and top quality B2B sales, marketing and trade leads.</p>
</div>
</div>