<% provide(:metacontent, "Categories for B2B sales leads, b2b marketing leads and business leads. Online B2B marketplace for best buying and selling leads.") %>

<% provide(:title, 'B2B Category list for sales, buy & trade leads') %>
<div class ="category-display">
<section class=" container-fluid services-block text-center">

<div id="block-head text-center"><h1> B2B Leads Categories</h1><span></span></div>
<h2 class="shadow"> Click on below business leads categories </h2>
<%if logged_in? %>
    <p><%= link_to "Post buying/selling lead now", new_micropost_path, class: "btn btn-action btn-lg" %> 
<%end%>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/1" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/fashion.png">Apparel &amp; Fashion Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/2" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/agriculture">Agriculture Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/3" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/automobile.png">Automobile Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/4" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/computer">Computer Hardware &amp; Software Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/5" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/consumer-electronics.png">Consumer Electronics Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/6" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/mobile.png">Mobile Phones Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/7" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/ee.png">Electronics &amp; Electrical Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/8" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/energy-power.png">Energy &amp; Power Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/9" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/food-beverage.png">Food &amp; Beverage Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/10" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/real-estate.png">Construction &amp; Real Estate Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/11" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/chemicals.png">Chemicals Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/6" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/leather.jpg">Leather &amp; Leather Products Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/13" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/business-service.png">Business Services Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/14" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/hometextile.jpg">Home Textiles &amp; Furnishings Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/15" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/fabric.jpg">Textile &amp; Fabrics Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/16" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/mineral.svg">Minerals &amp; Metals Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/17" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/construction_industries.png">Industrial Supplies Leads</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/18" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/health_beauty_icon.png	">Health &amp; Beauty Leads</div></a>
</div>

</section>
</div>
