<!--<% @categories.each do |category| %>
<li>
  <span class="user"><%= link_to category.name, category %></span>
</li>
<%end%>
-->
<% provide(:title, 'All categories for sales and buy leads') %>
<div class ="category-display">
<section class=" container-fluid services-block text-center">

<div id="block-head text-center"><h1> Categories</h1><span></span></div>
<h2 class="shadow"> Click on below categories for exciting deals </h2>
<%if logged_in? %>
    <p><%= link_to "Post buy/sell deal now", new_micropost_path, class: "btn btn-action btn-lg" %> 
<%end%>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/1" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/fashion.png">Apparel &amp; Fashion</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/2" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/agriculture">Agriculture</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/3" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/automobile.png">Automobile</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/4" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/computer">Computer Hardware &amp; Software</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/5" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/consumer-electronics.png">Consumer Electronics</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/6" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/mobile.png">Mobile Phones</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/7" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/ee.png">Electronics &amp; Electrical</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/8" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/energy-power.png">Energy &amp; Power</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/9" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/food-beverage.png">Food &amp; Beverage</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/10" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/real-estate.png">Construction &amp; Real Estate</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/11" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/chemicals.png">Chemicals</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/6" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/leather.jpg">Leather &amp; Leather Products</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/13" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/business-service.png">Business Services</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/14" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/hometextile.jpg">Home Textiles &amp; Furnishings</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/15" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/fabric.jpg">Textile &amp; Fabrics</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/16" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/mineral.svg">Minerals &amp; Metals</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/17" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/construction_industries.png">Industrial Supplies</div></a>
</div>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 services">
<a href="/categories/18" target="_blank"><div class="services-image"><img class="img-responsive" src="assets/health_beauty_icon.png	">Health &amp; Beauty</div></a>
</div>

</section>
</div>
