<div style="background: #282828">
<div class="container">
<footer class="footer one">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>More about company</h3>
      <div>
          <p> India Leads is a B2B platform developed to give its user a social network taste. Spanned across 18 business categories we give the buyers and sellers an excellent opportunity to use our platform as a tool for business and trade lead generation. Use this unique blend of social and professional media platform for advertising your business and trade deals.</p>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>Facebook (Follow us)</h3>
      <div>
            <a href="#" ><img src="http://wapkaimage.com/400723/400723469_4b4c6767c9.gif"><i></i>                Like us on Facebook</a>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>Contact Information </h3>
        <div class="footer three">
          <ul>
            <li>India Leads <span>New Delhi,</span> India  </li>
            <li>99999#####  </li>
            <li><a href="mailto:tiloffers@gmail.com">tiloffers@gmail.com</a> </li>
          </ul>
        </div>
  </div>
</footer>
</div>
</div>