<div style="background: #282828">
<div class="container">
<footer class="footer one">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>More about company</h3>
      <div>
          <p> Lead Hunt is a B2B social platform. Spanned across 18 business category we give the traders and business an excellent opportunity to use our social platform as a tool for business and trade lead generation. Use this unique blend of social and professional media platform for advertising your business and trade deals.</p>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>Facebook (Follow us)</h3>
      <div>
            <a href="#" ><img src="http://wapkaimage.com/400723/400723469_4b4c6767c9.gif"><i></i>                Like us on Facebook</a>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>Contact Information </h3>
        <div class="footer three">
          <ul>
            <li>Lead Hunt <span>Across the world network,</span>Indore, India  </li>
            <li>1234567890  </li>
            <li><a href="mailto:info@example.com">leadhunt@gmail.com</a> </li>
          </ul>
        </div>
  </div>
</footer>
</div>
</div>