<div style="background: #282828">
<div class="container">
<footer class="footer one">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>More about company</h3>
      <div>
          <p> Trade India Leads is an online B2B marketplace for providing its users a unique and simple solution for there business needs. Spanned across 18 business categories we give buyers and sellers an excellent opportunity to use our B2B platform for posting and viewing b2b sales, b2b marketing and b2b trade leads for free. Join us and start posting your buying and selling leads.</p>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>Facebook (Follow us)</h3>
      <div>
            <a href="https://www.facebook.com/India-Leads-1723995611193151/?ref=br_rs" target="_blank" ><img src="http://wapkaimage.com/400723/400723469_4b4c6767c9.gif"><i></i>                Like us on Facebook</a>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><h3>Contact Information </h3>
        <div class="footer three">
          <ul>
            <li>Trade India Leads <span>New Delhi,</span> India  </li>
            <li>+91-7000277265  </li>
            <li><a href="mailto:tiloffers@gmail.com">tiloffers@gmail.com</a> </li>
          </ul>
        </div>
  </div>
</footer>
</div>
</div>